
/*All color from  w3school  link add to README */
body{
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    text-align: center;
    font-size: xxx-large;
    font-weight: bolder;
    color: red;
}

#img1{
    padding-top: 20px;
    margin-left: 336px;
    transform: rotateY(180deg);
}

#img2{
    padding-top: 20px;
    position: absolute;
    top: 20%;
    left: 52%;
}
#rock{
    position: absolute;
    left: 400px;
    top: 75%;
    visibility: hidden;
}
#paper{
    position: absolute;
    left: 560px;
    top: 75%;
    visibility: hidden;
}

#scissors{
    position: absolute;
    top: 75%;
    left: 720px;
    visibility: hidden;
}
button{
    height: 80px;
    width: 140px;
    font-size: x-large;
    font-weight: bold;
    background-color: orangered;
    color: floralwhite;
    border: solid 4px floralwhite;
    border-radius: 44px;
    cursor: pointer;
}

#start{
    background-color: darkgreen;
    position: absolute;
    top: 75%;
    left: 45%;
}




