body{
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    text-align: center;
    font-size: xxx-large;
    font-weight: bolder;
    color: red;
}

#img1{
    padding-top: 20px;
    margin-left: 336px;
    transform: rotateY(180deg);
}

#img2{
    padding-top: 20px;
    position: absolute;
    top: 20%;
    left: 52%;
}





